In [3]:
states = ["goa", "delhi", "assam", "haryana", "punjab"]
print(states)
print(type(states))

['goa', 'delhi', 'assam', 'haryana', 'punjab']
<class 'list'>

In [ ]:
print(states[0])
print(states[-1])
print(states[3])
print(states[-3])
print(states[1:])
print(states[1:3])

goa
punjab
haryana
assam
['delhi', 'assam', 'haryana', 'punjab']
['delhi', 'assam']

In [12]:
print(states)
states[2]= "tamil nadu"
print(states)

['goa', 'delhi', 'assam', 'haryana', 'punjab']
['goa', 'delhi', 'tamil nadu', 'haryana', 'punjab']

In [ ]:
states = ['goa', 'delhi', 'tamil nadu', 'haryana', 'punjab']
print(states)

states.append("assam")     ## adds an item at the end of the list. exactly takes only 1 arguement
print(states)

states.insert(1,"gujarat")    ## inserts an item at the given position
print(states)

states.remove("tamil nadu")   ## simply remove the stated item
print(states)

popped = states.pop()    ## displays and removes the last item in a list
print(popped)
print(states)

['goa', 'delhi', 'tamil nadu', 'haryana', 'punjab']
['goa', 'delhi', 'tamil nadu', 'haryana', 'punjab', 'assam']
['goa', 'gujarat', 'delhi', 'tamil nadu', 'haryana', 'punjab', 'assam']
['goa', 'gujarat', 'delhi', 'haryana', 'punjab', 'assam']
assam
['goa', 'gujarat', 'delhi', 'haryana', 'punjab']

In [48]:
print(states)
index = states.index("haryana")         ## gives the position of the item in the list
print(index)

['goa', 'gujarat', 'delhi', 'haryana', 'punjab']
3

In [61]:
# states.insert(2,"delhi")
print(states)
states.count("delhi")
states.remove("delhi")
print(states)

['goa', 'gujarat', 'delhi', 'delhi', 'haryana', 'punjab']
['goa', 'gujarat', 'delhi', 'haryana', 'punjab']

In [70]:
states = ["goa", "delhi", "assam", "haryana", "punjab", "tamil nadu", "maharashtra"]
print(states)

['goa', 'delhi', 'assam', 'haryana', 'punjab', 'tamil nadu', 'maharashtra']

In [ ]:
states.sort()   ## by default sorts in ascending order
print(states)

['assam', 'delhi', 'goa', 'haryana', 'maharashtra', 'punjab', 'tamil nadu']

In [ ]:
states.reverse()
print(states)

['assam', 'delhi', 'goa', 'haryana', 'maharashtra', 'punjab', 'tamil nadu']

In [74]:
states.clear()
print(states)

[]

In [ ]:
ott = ("netflix", "hotstar", "prime", "zee5", "sonyliv", "mxplayer", "jiocinema")
print(ott)
print(ott[1:4])     ## displays between the range
print(ott[:2])      ## displays upto the given number item
print(ott[2:])      ## Displays all the item after the given number
print(ott[::3])     ## displays nth item
print(ott[::-2])    ## Displays nth item reversely

('netflix', 'hotstar', 'prime', 'zee5', 'sonyliv', 'mxplayer', 'jiocinema')
('hotstar', 'prime', 'zee5')
('netflix', 'hotstar')
('prime', 'zee5', 'sonyliv', 'mxplayer', 'jiocinema')
('netflix', 'zee5', 'jiocinema')
('jiocinema', 'sonyliv', 'prime', 'netflix')

In [87]:
##iterating over lists (lists with loop)

for name in ott:
    print(name)

netflix
hotstar
prime
zee5
sonyliv
mxplayer
jiocinema

In [92]:
for index, name in enumerate(ott):
    print(index,name)

0 netflix
1 hotstar
2 prime
3 zee5
4 sonyliv
5 mxplayer
6 jiocinema

In [24]:
## list comprehension

## list of squares of num from 1 to 10
# [num**2 for num in range(1,11)]

## each num from 1 to 10 is doubled
# [num*2 for num in range(1,11)]

## list of string from word "python"

In [25]:
square = [num**2 for num in range(6)]
print(square)

[0, 1, 4, 9, 16, 25]

In [31]:
str="python"
char=[char for char in str]
print(char)

['p', 'y', 't', 'h', 'o', 'n']

In [33]:
cubes = [num**3 for num in range(1,6)]
print(cubes)

[1, 8, 27, 64, 125]

In [40]:
even = [num for num in range(1,11) if num%2==0]
print(even)

[2, 4, 6, 8, 10]

In [43]:
odd=[num**2 for num in range(1,11) if num%2!=0]
print(odd)

[1, 9, 25, 49, 81]

In [49]:
fruits = ["apple", "banana", "kiwi", "mango", "pear"]
char_5=[fruit for fruit in fruits if len(fruit)<5]
print(char_5)

['kiwi', 'pear']

In [50]:
div_3=[num for num in range(1,21) if num%3==0]
print(div_3)

[3, 6, 9, 12, 15, 18]

In [55]:
sentence = "I love Python"
upper=[letter for letter in sentence if letter.isupper()]
print(upper)

['I', 'P']

In [68]:
result= ["Even" if num%2==0 else "Odd" for num in range(1,11)]
print(result)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']